<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Registro de Actividades</div>
  <div class="page__content shadow p-3 position-relative">

    <div class="card">

      <div class="container">
        <div class="row">
          <div class="col-4">
            <label for="periodoEscolar">Periodo: </label>
            <div>
              <p-dropdown (onChange)="llenarmodalidades()" [options]="periodo" [(ngModel)]="selectPeriodo" placeholder="Seleccione un Periodo"
                optionLabel="fecha_inicio"></p-dropdown>
            </div>
          </div>
          <div class="col-4">
            <label for="modalidad">Modalidad: </label>
            <div>
              <p-dropdown (onChange)="llenarcursos()" [options]="modalidad" [(ngModel)]="selectModalidad" placeholder="Seleccione una modalidad"
                optionLabel="descripcion"></p-dropdown>
            </div>
          </div>
          <div class="col-4">
            <label for="curso">Curso: </label>
            <div>
              <p-dropdown (onChange)="llenarparalelos()"[options]="curso" [(ngModel)]="selectCurso" placeholder="Seleccione un curso" optionLabel="descripcion">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label for="paralelo">Paralelo: </label>
            <div>
              <p-dropdown (onChange)="llenarasignaturas()" [options]="paralelo" [(ngModel)]="selectParalelo" placeholder="Seleccione un paralelo"
                optionLabel="descripcion"></p-dropdown>
            </div>
          </div>
          <div class="col-4">
            <label for="paralelo">Asignatura: </label>
            <div>
              <p-dropdown [options]="asignatura" [(ngModel)]="selectAsignatura" placeholder="Seleccione una asignatura"
                optionLabel="descripcion"></p-dropdown>
            </div>
          </div>
          <div class="col-4"><br>
            <button type="submit" class="btn btn-dark" (click)="limpiarFormulario()">LIMPIAR</button>
            <button type="submit" style="margin-left: 35px;" class="btn btn-dark" (click)="llenarestudiantes()">LISTAR</button>
          </div>
        </div>

        <div class="container-fluid page">
          <p-table responsiveLayout="scroll">
            <ng-template pTemplate="header" >
              
                <tr>
                  <th>Id</th>
                  <th>Aporte 1</th>
                  <th>Aporte 2</th>
                  <th>Aporte 3</th>
                  <th>Aporte 4</th>
                  <th>Evaluacion 1</th>
                  <th>Aporte 5</th>
                  <th>Aporte 6</th>
                  <th>Aporte 7</th>
                  <th>Aporte 8</th>
                  <th>Evaluacion 2</th>
                  <th>Examen Final</th>
                  <th>Promedio Final</th>
                  <th>Examen Supletorio</th>
                  <th>Promedio Supletorio</th>
                  <th>Examen Remedial</th>
                  <th>Promedio Remedial</th>
                  <th>Examen Gracia</th>
                  <th>Promedio Gracia</th>
                  <th>Comporamiento</th>
                  <th>Id Matricula</th>
                  <th>Id Asignatura</th>
                  
                </tr>
            </ng-template>
              <ng-template pTemplate="body">
                <tr >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
              </ng-template>
          </p-table>
          </div>

          <br>

      </div>

    </div>
  </div>

</div>