<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Registro de Actividades</div>
  <div class="page__content shadow p-3 position-relative">

    <div class="card">

      <div class="container">
        <div class="row">
          <div class="col-4">
            <label for="periodoEscolar">Periodo: </label>
            <div>
              <p-dropdown (onClick)="llenarmodalidades()" [options]="periodos" [(ngModel)]="periodoSelec" placeholder="Seleccione un periodo"
                optionLabel=""></p-dropdown>
            </div>
          </div>
          <div class="col-4">
            <label for="modalidad">Modalidad: </label>
            <div>
              <p-dropdown (onClick)="llenarcursos()" [options]="modalidades" [(ngModel)]="modalidadSelec" placeholder="Seleccione una modalidad"
                optionLabel=""></p-dropdown>
            </div>
          </div>
          <div class="col-4">
            <label for="curso">Curso: </label>
            <div>
              <p-dropdown (onClick)="llenarparalelos()" [options]="cursos" [(ngModel)]="cursoSelec" placeholder="Seleccione un curso" optionLabel="">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label for="paralelo">Paralelo: </label>
            <div>
              <p-dropdown (onClick)="llenarasignaturas()" [options]="paralelos" [(ngModel)]="paraleloSelec" placeholder="Seleccione un paralelo"
                optionLabel=""></p-dropdown>
            </div>
          </div>
          <div class="col-4">
            <label for="paralelo">Asignatura: </label>
            <div>
              <p-dropdown [options]="asignaturas" [(ngModel)]="asignaturasSelec" placeholder="Seleccione una asignatura"
                optionLabel=""></p-dropdown>
            </div>
          </div>
          <div class="col-4"><br>
            <button type="submit" class="btn btn-dark" (click)="limpiarFormulario()">LIMPIAR</button>
            <button type="submit" style="margin-left: 35px;" class="btn btn-dark" (click)="listarDatos()">LISTAR</button>
          </div>
        </div>
        <div class="container-fluid page">
          <p-table responsiveLayout="scroll">
            <ng-template pTemplate="header" >
              
                <tr>
                  <th>Id</th>
                  <th>Aporte 1</th>
                  <th>Aporte 2</th>
                  <th>Aporte 3</th>
                  <th>Aporte 4</th>
                  <th>Evaluacion 1</th>
                  <th>Aporte 5</th>
                  <th>Aporte 6</th>
                  <th>Aporte 7</th>
                  <th>Aporte 8</th>
                  <th>Evaluacion 2</th>
                  <th>Examen Final</th>
                  <th>Promedio Final</th>
                  <th>Examen Supletorio</th>
                  <th>Promedio Supletorio</th>
                  <th>Examen Remedial</th>
                  <th>Promedio Remedial</th>
                  <th>Examen Gracia</th>
                  <th>Promedio Gracia</th>
                  <th>Comporamiento</th>
                  <th>Id Matricula</th>
                  <th>Id Asignatura</th>
                  
                </tr>
            </ng-template>
              <ng-template pTemplate="body">
                <tr >
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  
                </tr>
              </ng-template>
          </p-table>
          </div>

      </div>

    </div>
  </div>

</div>